cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.3.0
numpy==1.19.1
pandas==1.1.0
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1
six==1.13.0
ray==1.0.0
black==19.10b0
tqdm==4.48.2
rospkg==1.2.0
scikit-image==0.16.2
tkfilebrowser==2.3.2
tensorflow==2.1.2
tensorflow_probability==0.9.0
